* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lavender;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: monospace;
    font-size: 5em;
    color: turquoise;
}
