@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 25vh 1fr;

    font-family: Poppins;
}

a {
    text-decoration: none;
}

.header {
   grid-column: 2 / 6;

   display: grid;
   grid-template-columns: 4fr 2fr;
   grid-template-rows: 1fr 1fr;

   padding: 10px 30px;
   box-shadow: 0 3px 5px #aaa;

   position: relative;
   z-index: 0;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar * {
    margin-left: 20px;
}

.searchbar input {
    flex: 1;
    border: none;
    background-color: #E2E8F0;
    border-radius: 20px;
    padding-left: 10px;
    height: 30px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile * {
    margin: 0 10px;
}

.greet {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: min-content 1fr;
    column-gap: 10px;
}

.greet .pfp {
    grid-row: 1 / 3;
    align-self: center;
    width: 60px;
    height: 60px;
}

.greet #greeting {
    font-size: 0.8em;
    font-weight: 700;
}

.greet .name {
    font-size: 1.3em;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions button {
    background-color: #1992D4;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
}

.pfp {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.sidebar {
   background-color: #1992D4;
   padding: 20px 10px;
   color: #fff;
   font-weight: 900;

   grid-row: 1 / 3;
   grid-column: 1 / 2;

   display: grid;
   grid-template-rows: repeat(3, min-content);
   gap: 50px;
}

.sidebar a {
    color: #fff;
}

.sidebar-item {
    padding: 10px 0;
    
    display: flex;
}

.sidebar-item :nth-child(2) {
    margin-left: 10px;
}

.logo {
    font-size: 1.5em;
}

.logo .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.content {
   background-color: #E2E8F0; 
   padding: 20px 30px 30px 20px;
   grid-column: 2 / 6;

   display: grid;
   grid-template-columns: 2fr 1fr;
}

.content a {
    color: #000;
}

.section-title {
    padding: 10px 0;
    font-size: 1.1rem;
    font-weight: 500;
}

.project, .content-card {
    border-radius: 10px;
    box-shadow: 3px 3px 5px #aaa;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 325px);
    gap: 20px;
}

.project {
    background-color: #fff;
    border-left: 10px solid #703E39;
    padding: 25px;
}

.project .title {
    font-weight: 800;
}

.project .description {
    font-size: 0.9em;
    font-weight: 100;
    color: #646464;
}

.project-actions {
    display: flex;
    justify-content: flex-end;
}

.project-actions * {
    margin: 5px 5px 0 5px;
}

.content-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}

.content-feed {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 25px;
}

.announcement .title {
    font-weight: 700;
    font-size: 0.9em;
}

.announcement .description {
    color: #646464;
    font-weight: 300;
    font-size: 0.8em;
}

.divider {
    margin-top: 25px;
    border: none;
    border-top: 1px solid #ccc;
}

.trend {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
}

.trend .pfp {
    grid-row: 1 / 3;
    width: 50px;
    height: 50px;
}

.trend .trending-project {
    color: #646464;
    font-weight: 300;
}

.name, .handle {
    font-weight: 800;
}

.icon {
    width: 25px;
    height: 25px;
}

.logo, .sidebar-item, .searchbar, .profile, .project-actions {
    display: flex;
    align-items: center;
}
